<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590923663099-9tpck5f5beuv3c4bp171d4jrc8q5cnad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590923663099-9tpck5f5beuv3c4bp171d4jrc8q5cnad</string>
	<key>API_KEY</key>
	<string>AIzaSyBqWGrt1-XzSecsr1gtClKMqwRwfDRpDk0</string>
	<key>GCM_SENDER_ID</key>
	<string>590923663099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>allegro.com.FirstProject</string>
	<key>PROJECT_ID</key>
	<string>firstproject-c6d4c</string>
	<key>STORAGE_BUCKET</key>
	<string>firstproject-c6d4c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590923663099:ios:a3205de037c6c574dc525e</string>
</dict>
</plist>