<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840058971364-tntqrnqab6ehovn7n5vl68124lspeh9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840058971364-tntqrnqab6ehovn7n5vl68124lspeh9h</string>
	<key>API_KEY</key>
	<string>AIzaSyBwW0mEDk6J-yChcYaQ3t7nk07hh2xo8KE</string>
	<key>GCM_SENDER_ID</key>
	<string>840058971364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>allegro.com.SecondProject</string>
	<key>PROJECT_ID</key>
	<string>secondproject-6fef5</string>
	<key>STORAGE_BUCKET</key>
	<string>secondproject-6fef5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840058971364:ios:8518c8756442d68c6378f1</string>
</dict>
</plist>