<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541009328993-f3sv4ennivdsv2qbkvtimr27urqb5mf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541009328993-f3sv4ennivdsv2qbkvtimr27urqb5mf6</string>
	<key>API_KEY</key>
	<string>AIzaSyBLK24MMskAfhBdLJMOXL5tRB6JKyOJ-HE</string>
	<key>GCM_SENDER_ID</key>
	<string>541009328993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>allegro.com.FirebaseToDo-1</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-2baa0</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-2baa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541009328993:ios:2503fe25adb594a1cae320</string>
</dict>
</plist>