<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670549061889-vrahrhjo7gasgrit08gtoq4tdsaq8ltd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670549061889-vrahrhjo7gasgrit08gtoq4tdsaq8ltd</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Bl-0MKpSgG6mzo3UqcLH9uptblVKlrc</string>
	<key>GCM_SENDER_ID</key>
	<string>670549061889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>allegro.com.FirebaseExample01</string>
	<key>PROJECT_ID</key>
	<string>fir-example01-8ff2b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example01-8ff2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670549061889:ios:3ee5c5a67c6be7ce9bab00</string>
</dict>
</plist>